/*COMMON STYLES*/
/*////////////*/

/*
font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/
body {
  font-family: "Oswald", sans-serif;
}

.container {
  max-width: 1400px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul li {
  list-style: none;
}

.h1 {
  color: #ffffff;
  font-weight: 500;
  font-size: 60px;
  text-transform: uppercase;
}

.h2 {
  font-size: 32px;
  text-transform: uppercase;
}

.h6 {
  font-size: 16px;
  text-transform: uppercase;
}

.text-align {
  text-align: center;
}

.text-style {
  font-style: italic;
}

.main-btn {
  font-size: 14px;
  text-decoration: none;
  background: #0075ff;
  color: #ffffff;
  border-radius: 48px;
  padding: 12px 35px;
  text-transform: uppercase;
}

.position-relative {
  position: relative;
  height: 100%;
  width: 100%;
}
/*/ //////////////////*/
/*HEADER SECTION*/
/*/ //////////////////*/

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.nav-content a {
  color: #ffffff;
  text-transform: uppercase;
}

.fa-solid,
.fas {
  margin: 0 5px;
}

.page-main-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.header-secondary-heading {
  color: #ffffff;
}

.main-text {
  padding: 167px 255px 306px 208px;
}

.nav-content a:not(:last-child) {
  margin-right: 39px;
}

.nav-play-btn {
  background: none;
  border: 2px solid #ffffff;
  padding: 8px 38px;
}

.nav-started-btn {
  margin: 0 25px 48px;
}

header .container h1 {
  margin-bottom: 30px;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) 15.62%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  z-index: -1;
}

/*/ //////////////////////////////*/
/*/ //////////////////////////////*/
/*SECTION-WELCOME*/
/*///////////////////////////////*/
/*/ //////////////////////////////*/

.section-welcome {
  margin-top: 36px;
}

.welcome-img-primary .welcome-img-1 {
  padding-top: 71px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 79%;
  object-fit: cover;
}

.welcome-content {
  display: flex;
  align-items: center;
  padding: 30px 14px;
  color: #ffffff;
  background: #00000080;
  position: absolute;
  top: 79%;
  height: 20%;
  width: 100%;
}

.welcome-img-secondary .welcome-img-2 {
  padding-bottom: 53px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome-content p {
  margin-bottom: 0;
}

.section-welcome-content {
  padding: 113px 0 105px;
}

.welcome-secondary-heading {
  font-weight: 700;
  margin-bottom: 2px;
}
.welcome-primary-heading {
  margin-bottom: 8px;
}
.welcome-paragraph {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-bottom: 40px;
}

.read-more {
  padding: 12px 43px;
}

.shield-icon {
  margin-right: 20px;
  font-size: 35px;
}

/*/ //////////////////////////////*/
/*/ //////////////////////////////*/
/*SECTION-SERVICE*/
/*///////////////////////////////*/
/*/ //////////////////////////////*/

.section-service {
  margin-top: 37px;
}

.service-secondary-heading {
  padding-top: 48px;
}

.service-primary-heading {
  margin-bottom: 48px;
}

.service-background {
  position: absolute;
  background: #f5f5f5;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: -2;
}

.service-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  row-gap: 17px;
}

.service-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.img-caption {
  margin: 175px 46px;
  background: #00000080;
  color: #ffffff;
  padding: 8px 22px 10px;
}

/*/ //////////////////////////////*/
/*/ //////////////////////////////*/
/*SECTION-WHY-CHOOSE*/
/*///////////////////////////////*/
/*/ //////////////////////////////*/

.section-why-choose {
  color: #ffffff;
  margin-top: 50px;
}

.section-why-choose img {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.section-why-choose::before {
  content: "";
  position: absolute;
  left: 0;
  width: 80%;
  height: 100%;
  background: linear-gradient(
    90.13deg,
    #000000 25.65%,
    rgba(0, 0, 0, 0) 54.63%
  );
  z-index: -1;
}

.why-choose-secondary {
  padding-top: 137px;
}

.meet-me {
  padding-bottom: 109px;
}

.why-choose-primary {
  margin-bottom: 10px;
}

.why-choose-paragraph {
  margin-bottom: 30px;
}

.why-choose-btn {
  padding: 12px 27px;
}

/*/ //////////////////////////////*/
/*/ //////////////////////////////*/
/*SECTION-GALLERY*/
/*///////////////////////////////*/
/*/ //////////////////////////////*/
.section-gallery {
  padding-top: 79px;
}

.gallery-primary-heading {
  margin-bottom: 20px;
}

.gallery-btn {
  padding: 12px 59px;
}

.grid {
  margin-top: 49px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 18px;
}

.grid-img {
  padding-top: 100%;
}

.gallery-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*/ //////////////////////////////*/
/*/ //////////////////////////////*/
/*SECTION-GET-STARTED*/
/*///////////////////////////////*/
/*/ //////////////////////////////*/

.section-get-started .container .row {
  align-items: center;
  justify-content: center;
}

.section-get-started {
  margin-top: 104px;
  color: #ffffff;
  padding: 72px 166px 88px 120px;
  background: rgba(0, 0, 0, 0.61);
  position: relative;
  height: 100%;
  width: 100%;
}

.get-started-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.get-started-form {
  background: #091c3fe5;
  padding: 60px 59px 63px 67px;
}

input,
textarea {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  background: none;
  outline: 0;
  border: none;
  border-bottom: 1px solid #aeaeae;
  width: 100%;
  padding: 10px 5px;
  font-size: 14px;
}

input {
  margin-bottom: 30px;
}

textarea {
  border-bottom: none;
}

input::placeholder,
textarea::placeholder {
  color: #ffffff;
}

.form-btn {
  background: #ffffff;
  padding: 19px 117px;
  color: #08072f;
  font-weight: 700;
  font-size: 15px;
  border-radius: 5px;
  display: inline-block;
  width: 100%;
}

.get-started-paragraph {
  line-height: 33px;
}

.get-started-secondary {
  font-size: 14px;
}

.get-started-secondary,
.get-started-paragraph {
  font-family: "Montserrat", sans-serif;
}

/*/ //////////////////////////////*/
/*/ //////////////////////////////*/
/*SECTION-OUR-STRENGTH*/
/*///////////////////////////////*/
/*/ //////////////////////////////*/

.section-our-strength {
  margin-top: 73px;
}

.our-strength-secondary {
  font-weight: 600;
}

.hero-card-1 {
  background: #f4f4f4;
  padding: 49px 32px 70px;
  border-radius: 20px;
  margin-top: 40px;
}

.hero-card-1 h4 {
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
  font-weight: 800;
  font-size: 16px;
  color: #494949;
}

.hero-card-start {
  color: #34a7ff;
}

.hero-card-start i {
  margin: 0 10px 24px 5px;
}

.hero-card-paragraph {
  font-family: "Montserrat", sans-serif;
  color: #494949;
  font-weight: 800;
  font-size: 16px;
}
/*/ //////////////////////////////*/
/*/ //////////////////////////////*/
/*FOOTER*/
/*///////////////////////////////*/
/*/ //////////////////////////////*/
footer {
  margin-top: 62px;
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 90%;
  background: #08131b;
  z-index: -2;
}

.footer-content {
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  padding: 67px 0 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer-contact p {
  color: #a3c6d1;
}

.footer-social-media a,
.footer-contact p a {
  color: #61b5e5;
  font-size: 23px;
}

.footer-contact p {
  font-weight: 400;
}

.footer-social-media a {
  margin-right: 80px;
  font-size: 20px;
}

.footer-links {
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 15px;
}

.contact-us {
  padding-left: 0;
  display: grid;
  row-gap: 15px;
}

.footer-secondary {
  margin-bottom: 20px;
}

.maya {
  margin: 6px 0 21px 0;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.fa-brands,
.fab {
  font-weight: 400;
  font-size: 32px;
  margin-top: 10px;
}

.open-day {
  display: flex;
}

.open-day .day {
  width: 50%;
}

.open-day .time {
  width: 100%;
}
